@model HUCE.Models.MonHoc

@{
    ViewBag.Title = "ThemMonHoc";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Them Mon Hoc</h3>
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="col-12">
                            <h5 class="form-title"><span>Thông Tin Mon Hoc</span></h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaMH, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MaMH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaMH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TenMH, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TenMH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SoTin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SoTin, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                                @Html.ValidationMessageFor(model => model.SoTin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="text-danger">
                                    @TempData["Error"]
                                </div>
                                <input type="submit" value="Thêm" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    }
                    <div class="col-md-offset-2 col-md-10">
                        <form method="post" action="~/MonHoc/NhapFileExcel" enctype="multipart/form-data">
                            <input type="file" id="file" name="file" class="btn btn-primary" />
                            <button type="submit" value="Thêm" class="btn btn-primary">Thêm danh sach</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
