@model HUCE.Models.NhanVien

@{
    ViewBag.Title = "ChiTietNhanVien";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Thong Tin Nhan Vien</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Trang Chu</li>
                    <li class="breadcrumb-item active">Thong Tin Nhan Vien</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info">
                        <h4>Thong Tin Ca Nhan</h4>
                        <div class="media mt-3">
                            <img src="~/Assets/img/profiles/@{ @Model.MaNV }.jpg" class="mr-3" alt="...">
                            <div class="media-body">
                                <ul>
                                    <li>
                                        <span class="title-span">Ma Nhan Vien : </span>
                                        <span class="info-span">@Model.MaNV</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Ten Nhan Vien : </span>
                                        <span class="info-span">@Model.TenNV</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Gioi Tinh : </span>
                                        @{
                                            switch (Model.GioiTinh)
                                            {
                                                case true:
                                                    <span class="info-span">Nam</span>
                                                    break;

                                                case false:
                                                    <span class="info-span">Nu</span>
                                                    break;
                                            }
                                        }
                                    </li>
                                    <li>
                                        <span class="title-span">Ngay Sinh : </span>
                                        <span class="info-span">@String.Format("{0:dd/MM/yyyy}", Model.NgaySinh)</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Que Quan : </span>
                                        <span class="info-span">@Model.QueQuan</span>
                                    </li>
                                    <li>
                                        <span class="title-span">So Dien Thoai : </span>
                                        <span class="info-span">@Model.SoDienThoai</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Email : </span>
                                        <span class="info-span">@Model.Email</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
