@{
    var username = HUCE.App_Start.SessionConfig.GetSession();
    var quyen = HUCE.App_Start.SessionConfig.GetQuyen();
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Assets/img/logo-dhxd.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="~/Admin/Dashboard" class="logo">
                    <img src="https://media.huce.edu.vn/Media/2_SINHVIEN/FolderFunc/202304/Images/logodhxd-20230421024916-e.png" alt="Logo">
                </a>
                <a href="~/Admin/Dashboard" class="logo logo-small">
                    <img src="~/Assets/img/logo-dhxd.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown has-arrow">
                    @{
                        switch (quyen)
                        {
                            case "1":
                                var AC = new HUCE.Controllers.AdminController();
                                var userad = AC.GetAdmin(username);

                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img">
                                        <img class="rounded-circle" src="~/Assets/img/profiles/@{ @userad.MaAdmin }.jpg"
                                             width="31" alt="@userad.TenAdmin">
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="~/Assets/img/profiles/@{ @userad.MaAdmin }.jpg" alt="User Image"
                                                 class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>@userad.TenAdmin</h6>
                                            <p class="text-muted mb-0">Admin</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="~/Admin/ChiTietAdmin?maad=@userad.MaAdmin">Thong Tin Ca Nhan</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DoiMatKhau">Doi Mat Khau</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DangXuat">Dang Xuat</a>
                                </div>

                                break;

                            case "2":
                                var NVC = new HUCE.Controllers.NhanVienController();
                                var usernv = NVC.GetNhanVien(username);

                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img">
                                        <img class="rounded-circle" src="~/Assets/img/profiles/@{ @usernv.MaNV }.jpg"
                                             width="31" alt="@usernv.TenNV">
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="~/Assets/img/profiles/@{ @usernv.MaNV }.jpg" alt="User Image"
                                                 class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>@usernv.TenNV</h6>
                                            <p class="text-muted mb-0">Nhan Vien</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="~/NhanVien/ChiTietNhanVien?manv=@usernv.MaNV">Thong Tin Ca Nhan</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DoiMatKhau">Doi Mat Khau</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DangXuat">Dang Xuat</a>
                                </div>

                                break;

                            case "3":
                                var GVC = new HUCE.Controllers.GiangVienController();
                                var usergv = GVC.GetGiangVien(username);

                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img">
                                        <img class="rounded-circle" src="~/Assets/img/profiles/@{ @usergv.MaGV }.jpg"
                                             width="31" alt="@usergv.TenGV">
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="~/Assets/img/profiles/@{ @usergv.MaGV }.jpg" alt="User Image"
                                                 class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>@usergv.TenGV</h6>
                                            <p class="text-muted mb-0">Giang Vien</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="~/GiangVien/ChiTietGiangVien?magv=@usergv.MaGV">Thong Tin Ca Nhan</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DoiMatKhau">Doi Mat Khau</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DangXuat">Dang Xuat</a>
                                </div>

                                break;

                            case "4":
                                var SVC = new HUCE.Controllers.SinhVienController();
                                var usersv = SVC.GetSinhVien(username);

                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img">
                                        <img class="rounded-circle" src="~/Assets/img/profiles/@{ @usersv.MaSV }.jpg"
                                             width="31" alt="@usersv.TenSV">
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="~/Assets/img/profiles/@{ @usersv.MaSV }.jpg" alt="User Image"
                                                 class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>@usersv.TenSV</h6>
                                            <p class="text-muted mb-0">Sinh Vien</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="~/SinhVien/ChiTietSinhVien?masv=@usersv.MaSV">Thong Tin Ca Nhan</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DoiMatKhau">Doi Mat Khau</a>
                                    <a class="dropdown-item" href="~/TaiKhoan/DangXuat">Dang Xuat</a>
                                </div>

                                break;
                        }
                    }
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>

                        @{
                            var PQC = new HUCE.Controllers.PhanQuyenController();

                            List<List<HUCE.Models.DanhMuc>> listdm = PQC.GetPhanQuyen(quyen);

                            List<HUCE.Models.DanhMuc> listdmcha = listdm[0];
                            List<HUCE.Models.DanhMuc> listdmcon = listdm[1];

                            foreach (HUCE.Models.DanhMuc dmcha in listdmcha)
                            {
                                <li class="submenu active">
                                    <a href="#"><i class="fas fa-user-graduate"></i> <span>@dmcha.TenDM</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        @{
                                            foreach (HUCE.Models.DanhMuc dmcon in listdmcon)
                                            {
                                                if(dmcon.MaDMCha == dmcha.MaDM)
                                                {
                                                    <li><a href="@dmcon.UrlDM">@dmcon.TenDM</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/Assets/js/script.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
