@model List<HUCE.Models.GiangVien>

@{
    ViewBag.Title = "DanhSachGiangVien";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="form-row col-md-8">
                <div class="col-md-4 mb-3 top-nav-search">
                    <input type="text" class="form-control" placeholder="Nhập ma hoac ten giang vien" id="ttgv" name="ttgv">
                </div>
                <div class="col-md-3 mb-1 top-nav-search">
                    <button class="btn" type="button" id="btnTimKiem"><i class="fas fa-search">Tìm Kiếm</i></button>
                </div>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="~/GiangVien/XuatFileExcel" class="btn btn-primary"><i class="fas fa-download"></i> Tải danh sách</a>
                <a href="~/GiangVien/ThemGiangVien" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
            <div class="text-danger">
                @TempData["Error"]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Ma Giang Vien</th>
                                    <th>Ten Giang Vien</th>
                                    <th>Gioi Tinh</th>
                                    <th>Ngay Sinh</th>
                                    <th>Que Quan</th>
                                    <th>So Dien Thoai</th>
                                    <th>Email</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="tbGiangVien">
                                @foreach (var gv in Model)
                                {
                                    <tr>
                                        <td>@gv.MaGV</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle"
                                                         src="~/Assets/img/profiles/@{ @gv.MaGV }.jpg"
                                                         alt="User Image">
                                                </a>
                                                <a href="~/GiangVien/ChiTietGiangVien?magv=@gv.MaGV">@gv.TenGV</a>
                                            </h2>
                                        </td>
                                        @{
                                            switch (gv.GioiTinh)
                                            {
                                                case true:
                                                    <td>Nam</td>
                                                    break;

                                                case false:
                                                    <td>Nu</td>
                                                    break;
                                            }
                                        }
                                        <td>@String.Format("{0:dd/MM/yyyy}", gv.NgaySinh)</td>
                                        <td>@gv.QueQuan</td>
                                        <td>@gv.SoDienThoai</td>
                                        <td>@gv.Email</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="~/GiangVien/SuaGiangVien?magv=@gv.MaGV" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" onclick="if (confirm('Bạn có chắc muốn xóa giang vien này không ?')) { location.href = '/GiangVien/XoaGiangVien?magv=@gv.MaGV' }" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#btnTimKiem').click(function () {
                var ttgv = $('#ttgv').val();

                TimGiangVien(ttgv);
            });

            function TimGiangVien(ttgv) {
                $.ajax({
                    url: "/GiangVien/TimGiangVien",
                    type: 'post',
                    data: { ttgv: ttgv },
                    success: function (data) {
                        let display = '';

                        $.each(data.dsgv, function (index, item) {
                            display += '<tr><td>' + item.MaGV + '</td>';
                            display += '<td>' + '<h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"src="/Assets/img/profiles/'
                                + item.MaGV + '.jpg" alt="User Image"></a>' + '<a href="/GiangVien/ChiTietGiangVien?magv=' + item.MaGV + '">' + item.TenGV + '</a>' + '</td>';
                            display += '<td>';
                            switch (item.GioiTinh) {
                                case true:
                                    display += "Nam"
                                    break;

                                case false:
                                    display += "Nu"
                                    break;
                            }
                            display += '</td>';
                            display += '<td>' + item.NgaySinh + '</td>';
                            display += '<td>' + item.QueQuan + '</td>';
                            display += '<td>' + item.SoDienThoai + '</td>';
                            display += '<td>' + item.Email + '</td>';
                            display += '<td class="text-right"><div class="actions"><a href="/GiangVien/SuaGiangVien?magv=' + item.MaGV + '" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>';
                            display += '<a onclick="if (confirm(\'Bạn có chắc muốn xóa giang vien này không ?\')) { location.href = \'/GiangVien/XoaGiangVien?MaGV=' + item.MaGV + '\'}" class="btn btn-sm bg-danger-light"><i class="fas fa-trash"></i></a></div></td></tr>';
                        });

                        $('#tbGiangVien').html(display);
                    }
                });
            }
        })
    </script>
}

