@model List<HUCE.Models.DiemRenLuyen>

@{
    ViewBag.Title = "ChekDiemRenLuyenChoCB";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";

    List<HUCE.Models.TieuChiDiemRenLuyen> listtccha = ViewBag.TCCha;
    List<HUCE.Models.TieuChiDiemRenLuyen> listtc = ViewBag.TC;
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Danh Gia Diem Ren Luyen</h3>
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <table class="table-custom table table-bordered text-center no-footer dtr-inline" width="100%" role="grid">
                            <thead>
                                <tr>
                                    <th class="text-center" lang="phieudanhgiarenluyenchitiet-noidungvatieuchidanhgia">
                                        Nội dung và tiêu chí đánh giá
                                    </th>
                                    <th style="width:6%" class="text-center" lang="phieudanhgiarenluyenchitiet-mucdiemtoithieu">
                                        Mức<br>điểm<br>tối thiểu
                                    </th>
                                    <th style="width:5%" class="text-center" lang="phieudanhgiarenluyenchitiet-mucdiemtoida">
                                        Mức<br>điểm<br>tối đa
                                    </th>
                                    <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet-mucdiemtudanhgiacuasinhvien">
                                        Mức điểm<br>tự đánh giá<br>của sinh viên
                                    </th>
                                    <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet_mucdiemcansulopxacnhan">
                                        Mức điểm<br>cán sự<br>lớp xác nhận
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center bold" style="font-size:16px">Tổng điểm</td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>

                                </tr>

                                @{
                                    foreach (var tccha in listtccha)
                                    {
                                        <tr>
                                            <td class="bold text-left">
                                                <p><strong>@tccha.TenTC</strong></p>
                                            </td>
                                            <td class="bold">@tccha.DiemMin</td>
                                            <td class="bold">@tccha.DiemMax</td>

                                            @{
                                                for (int j = 0; j < Model.Count(); j++)
                                                {
                                                    if (Model[j].MaTC == tccha.MaTC)
                                                    {
                                                        @Html.EditorFor(model => model[j].MaTC, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                                                    }
                                                }
                                            }

                                        </tr>

                                        foreach (var tc in listtc)
                                        {
                                            if (tc.MaTCCha == tccha.MaTC)
                                            {
                                                <tr>
                                                    <td class=" text-left">
                                                        <p>+ @tc.TenTC</p>
                                                    </td>
                                                    <td class="">@tc.DiemMin</td>
                                                    <td class="">@tc.DiemMax</td>

                                                    @{
                                                        for (int j = 0; j < Model.Count(); j++)
                                                        {
                                                            if (Model[j].MaTC == tc.MaTC)
                                                            {
                                                                @Html.EditorFor(model => model[j].MaTC, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })

                                                                <td class="bold">
                                                                    @Html.EditorFor(model => model[j].DiemSV, new { htmlAttributes = new { @class = "form-control", type = "number", min = tc.DiemMin, max = tc.DiemMax, disabled = "disabled" } })
                                                                </td>

                                                                <td class="bold">
                                                                    @Html.EditorFor(model => model[j].DiemCB, new { htmlAttributes = new { @class = "form-control", type = "number", min = tc.DiemMin, max = tc.DiemMax, required = "required" } })
                                                                </td>
                                                            }
                                                        }
                                                    }

                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="text-danger">
                                    @TempData["Error"]
                                </div>
                                <input type="submit" value="Luu" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>