
@{
    ViewBag.Title = "DanhGiaDiemRenLuyen";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";

    List<HUCE.Models.TieuChiDiemRenLuyen> listtccha = ViewBag.TCCha;
    List<HUCE.Models.TieuChiDiemRenLuyen> listtc = ViewBag.TC;
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Danh Gia Diem Ren Luyen</h3>
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="~/DiemRenLuyen/DanhGiaDiemRenLuyen">
                        <table class="table-custom table table-bordered text-center no-footer dtr-inline" width="100%" role="grid">
                            <thead>
                                <tr>
                                    <th class="text-center" lang="phieudanhgiarenluyenchitiet-noidungvatieuchidanhgia">
                                        Nội dung và tiêu chí đánh giá
                                    </th>
                                    <th style="width:6%" class="text-center" lang="phieudanhgiarenluyenchitiet-mucdiemtoithieu">
                                        Mức<br>điểm<br>tối thiểu
                                    </th>
                                    <th style="width:5%" class="text-center" lang="phieudanhgiarenluyenchitiet-mucdiemtoida">
                                        Mức<br>điểm<br>tối đa
                                    </th>
                                    <th style="width:10%" class="text-left" lang="phieudanhgiarenluyenchitiet-tunhanxet">Tự nhận xét</th>
                                    <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet-mucdiemtudanhgiacuasinhvien">
                                        Mức điểm<br>tự đánh giá<br>của sinh viên
                                    </th>
                                    <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet_mucdiemcansulopxacnhan">
                                        Mức điểm<br>cán sự<br>lớp xác nhận
                                    </th>
                                    <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet_mucdiemkqrlcvhthoacgvcn">
                                        Mức điểm<br>KQRL CVHT<br>hoặc<br>GVCN xác nhận
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center bold" style="font-size:16px">Tổng điểm</td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>
                                    <td class="text-center bold" style="font-size:16px"></td>

                                </tr>

                                @{
                                    foreach (var tccha in listtccha)
                                    {
                                        <tr>
                                            <td class="bold text-left">
                                                <p><strong>@tccha.TenTC</strong></p>
                                            </td>
                                            <td class="bold">@tccha.DiemMin</td>
                                            <td class="bold">@tccha.DiemMax</td>
                                            <td></td>

                                            <td class="bold">
                                                <input type="number" min="@tccha.DiemMin" max="@tccha.DiemMax" name="" required />
                                            </td>

                                            <td class="bold">
                                                <input type="number" min="@tccha.DiemMin" max="@tccha.DiemMax" name="" disabled />
                                            </td>

                                            <td class="bold">
                                                <input type="number" min="@tccha.DiemMin" max="@tccha.DiemMax" name="" disabled />
                                            </td>
                                        </tr>

                                        foreach (var tc in listtc)
                                        {
                                            if (tc.MaTCCha == tccha.MaTC)
                                            {
                                                <tr>
                                                    <td class=" text-left">
                                                        <p>+ @tc.TenTC</p>
                                                    </td>
                                                    <td class="">@tc.DiemMin</td>
                                                    <td class="">@tc.DiemMax</td>
                                                    <td class="text-left">
                                                    </td>

                                                    <td class="bold">
                                                        <input type="number" min="@tc.DiemMin" max="@tc.DiemMax" name="" required />
                                                    </td>

                                                    <td class="bold">
                                                        <input type="number" min="@tc.DiemMin" max="@tc.DiemMax" name="" disabled />
                                                    </td>

                                                    <td class="bold">
                                                        <input type="number" min="@tc.DiemMin" max="@tc.DiemMax" name="" disabled />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="text-danger">
                                    @TempData["Error"]
                                </div>
                                <input type="submit" value="Gui" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>