@model HUCE.Models.Admin

@{
    ViewBag.Title = "ChiTietAdmin";
    Layout = "~/Views/Layouts/_LayoutMain.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Thong Tin Admin</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Admin/Dashboard">Trang Chu</a></li>
                    <li class="breadcrumb-item active">Thong Tin Admin</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info">
                        <h4>Thong Tin Ca Nhan</h4>
                        <div class="media mt-3">
                            <img src="~/Assets/img/profiles/@{ @Model.MaAdmin }.jpg" class="mr-3" alt="...">
                            <div class="media-body">
                                <ul>
                                    <li>
                                        <span class="title-span">Ma Admin : </span>
                                        <span class="info-span">@Model.MaAdmin</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Ten Admin : </span>
                                        <span class="info-span">@Model.TenAdmin</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Gioi Tinh : </span>
                                        @{
                                            switch (Model.GioiTinh)
                                            {
                                                case true:
                                                    <span class="info-span">Nam</span>
                                                    break;

                                                case false:
                                                    <span class="info-span">Nu</span>
                                                    break;
                                            }
                                        }
                                    </li>
                                    <li>
                                        <span class="title-span">Ngay Sinh : </span>
                                        <span class="info-span">@String.Format("{0:dd/MM/yyyy}", Model.NgaySinh)</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Que Quan : </span>
                                        <span class="info-span">@Model.QueQuan</span>
                                    </li>
                                    <li>
                                        <span class="title-span">So Dien Thoai : </span>
                                        <span class="info-span">@Model.SoDienThoai</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Email : </span>
                                        <span class="info-span">@Model.Email</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>