@model HUCE.Models.TaiKhoan

@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Sua Tai Khoan</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Admin/Dashboard">Trang Chu</a></li>
                    <li class="breadcrumb-item active">Sua Tai Khoan</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="col-12">
                            <h5 class="form-title"><span>Thông Tin Tai Khoan</span></h5>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.TenTaiKhoan)

                        <div class="form-group">
                            <label for="currpass" class="control-label col-md-2">Mat Khau Hien Tai:</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" id="currpass" name="currpass" />
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="currpass" class="control-label col-md-2">Mat Khau Moi:</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" id="newpass" name="newpass" />
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="currpass" class="control-label col-md-2">Xac Nhan Mat Khau:</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" id="confpass" name="confpass" />
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="text-danger">
                                    @TempData["Error"]
                                </div>
                                <input type="submit" value="Xac Nhan" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

